.ir__ir1 {
    grid-area: ir1;
    padding: 0.5em;
    background: var(--dark-bg6);
    border-radius: 1.2em;
}

.ir__ir2 {
    grid-area: ir2;
    padding: 0.5em;
    background: var(--dark-bg6);
    border-radius: 1.2em;
}

.ir {
    position: relative;
    height: 100%;
    margin-bottom: 0;
    z-index: 2;

    background: rgb(255,124,0);
    background: linear-gradient(rgba(255,124,0,1) 2%, rgba(249,255,0,1) 37%, rgba(1,193,87,1) 80%); 
    border-radius: 0.89em;
    opacity: 0.8;
}

.overlaying__div {
    z-index: 1;
    position: relative;
    background-color: #111111;
    transition: all 0.3s;
    border-radius: 0.7em;
}